server.port: 9005

spring:
  application:
    name: auth
  datasource:
    url: jdbc:mysql://localhost:3306/testdb?serverTimezone=Asia/Seoul
    username: testuser
    password: testpw

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: create

  data:
    redis:
      host: localhost
      port: 6379
      password: testpw

